<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shift Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        @Html.ActionLink("Shift Portal", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Edit <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <br/>
            <div style="padding-left : 0px">
                <ul class="list-group">
                    <li class="list-group-item">Department</li>
                    <li class="list-group-item">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Application Experts</span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">System SPC</span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Helpdesk</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
            <div class="col-md-8">
                <br />
                .col-md-8
            </div>
        </div>
</div>
<div class="container-fluid body-content fixed-bottom">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - CBS İç Yapımlar</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
